.main
{
    padding: 0 0;
}

.logo_menu
{
    margin-top: 3%;
    height: 90px;
}
.logo
{
    width: 40%;
    height: 40px;
    margin-left: 4%;
}
.menu_global
{
    width: 100%;
    list-style-type: none;
    font-size: small;
    flex-wrap: wrap-reverse;
}
.fenetre1
{
    position: absolute;
    top: 55px;
    left: 0;
    height: 7%;
    padding-right: 4.5%;
    padding-left: 5%;
    border-bottom: 2px solid #F2F2F2;
    margin-left:0%;
    width: 40%;
}
.fenetre2
{
    padding-right: 5%;
    padding-left: 6%;
    height: 7%;
    position: absolute;
    top: 55px;
    right: 0px;
    border-bottom: 2px solid #F2F2F2;
    margin-left:0%;
    width: 40%;
}

.fenetre1:hover
{
    border-bottom: 2px solid #0065FC;
    color:#0065FC;
    border-top: none;
}
.fenetre2:hover
{
    border-bottom: 2px solid #0065FC;
    color:#0065FC;
    border-top : none;
}

.inscription
{
    position: absolute;
    top:30px;
    right: 20px;
    margin-left: 0;
}
h1
{
    margin-left: 4%;
    margin-right: 15%;
    margin-top: 7%;
}
.barre_infos
{
    width: 92%;
    margin-left: 3.5%;
}
header p
{
    margin-left: 4%;
    font-size: 15px;
}
#sous_titre
{
    font-size: 87%;
}
.zone_texte
{
    padding-bottom: 55%;
    padding-top:55%;
}
.barre_recherche
{
    margin-left: 3.5%;
}
.bouton_rechercher
{
    margin-bottom: -20%;
}
#map
{
    padding-top: 9px;
    padding-bottom: 27px;
}
.texte_i
{
    font-size: 14px;
    margin-left: 2%;
}

#infos
{
    margin-left: 1%;
    margin-top: 13px;
}
.barre_filtres
{
    display: block;
    margin-left: 2%;
    width: 85%;
}

#economique .filtre
{
    width: 50%;
    margin-bottom: 4%;
}
#famille .filtre
{
    width: 33%;
    position: absolute;
    right: 40px;
    top: 279px;
}

#romantique .filtre
{
    width: 47%;
    margin-bottom: 4%;
}

#animaux .filtre
{
    width: 62%;
}
#filtre
{
    margin-left: 3%;
}
.barre_boutons
{
    display: block;
    width: 100%;
    margin-top: 3%;

}
.blocs_hebergement
{
    flex-direction: column-reverse;
}
.rubrique_hebergements
{
    width: 100%;
    height:auto;
    background-color: white;
    padding-top: 5%;
}
.rubrique_hebergements h2
{
    margin-left: 4%;
}
.populaire_global
{
    width: 100%;
    height: auto;
    border-radius: 0%;
    padding-bottom: 7%;
}
.rubrique_populaire
{
    margin-left:0;
}
.vignette_populaire
{
    height: 100px;
    width: 90%;
    margin: auto;
    margin-bottom: 3%;
}
.populaire_global h2
{
    margin-left: 5%;
    margin-top:5%;
    margin-bottom: 5%;
}
.rubrique_populaire a
{
    margin-left:0%;
    width: 100%;
}
.etoiles_populaire
{
    margin-top:7%;
}
.etoiles
{
    width: 40%;
    padding-left: 1%;
}
#graph
{
    margin-right: 8%;
}
#image_soleil, #image_eau, #image_bleu_blanc
{
    height: auto;
}
.liste_hebergements
{
    display: block;
    width: 90%;
    height: auto;
    margin-left: 4%;
}
#afficher_plus
{
    margin-left:4%;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0%;
    margin-bottom: 5%;
}
.liste_hebergements a 
{
    height: auto;
}
.vignette_hebergement
{
    height: 175px; 
    margin-bottom: 5%;
}
.vignette_hebergement p
{
    margin-bottom: 2%;
}
.activites_global h2
{
    margin-top: 6%;
    margin-left: 4%;
    margin-bottom: 5%;
}
.activites_global
{
    display: block;
}

.bloc_complet_activites
{
    display: block;
    height: auto;
    margin-right: 0%;
    width: 100%;
}

.liste_activites_1, .liste_activites_2
{
    display: block;
    margin: 0 auto;
}
.liste_activites_2
{
    padding-bottom: 10%;
}
.deux_petites_vignettes
{
    display: block;
}

.vignette_activites_grande, .deux_petites_vignettes
{
    width: 92%;
    margin:0 auto;
}
.image_petite, .image_grande
{
    height: 130px;
}

.footer_complet
{
    display: block;
    padding: 0 5%;
    padding-top: 12%;
    padding-bottom: 5%;
}
footer h2
{
    margin-top: 0%;
}
.titre_activites
{
    padding-bottom: 6%;
}