body
{
    font-family : 'Raleway', sans-serif ;
}


header div
{
    display: flex;
    justify-content: space-between;

}

.menu
{
    list-style-type: none;
    display: flex;
    width: 450px;
    padding-left: 0%;
    justify-content: space-between;
    font-size: small;

}



.hebergements a:hover
{
    border-top: 3px solid #0065FC;
    color:#0065FC
}
a 
{
    text-decoration: none;
    color: black;
}
.inscription a
{
    color:#0065FC;
    font-weight: bold;
    
}
.inscription:hover
{
    border-top: 3px solid #0065FC;
}
.activite a:hover
{
    border-top: 3px solid #0065FC;
    color : #0065FC
}
.logo
{
    width: 10%;
}

h1
{
    font-size: medium;
}

header h2,.i, footer div 
{
    font-size:small;
    font-weight: lighter;
    text-decoration: none;
  
}

